<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template 4</title>
    <link rel="stylesheet" href="admin-page/css/style.css">
</head>
<body>
    <section id="bgcolor">
        <img src="https://images8.alphacoders.com/528/thumb-1920-528812.jpg" alt="">
        <!-- <div id="logo">
            <img id="border" src="https://images6.alphacoders.com/350/thumbbig-350095.webp" alt="">
        </div> -->
        <div id="logo">
            <h1 class="one">Zer</h1>
            <h1 id="zero">0</h1>
            <h1 class="one">ne</h1>
        </div>
        <div id="menu">
            <div class="side ani">
                <a onclick="show()" href="javascript:void(0)">
                <button class="btn">
                        Menu
                    </button>
                </a>

            </div>
            <div class="side ani">
                <a onclick="show1()" href="javascript:void(0)">

                    <button class="btn">About</button>
                </a>
            </div>
        </div>
        <div id="menudiv">
            <div class="black">
                <h1 class="header" >Starters</h1>
                <span  class="crss"><a href="javascript:void(0)" onclick="hide()">x</a></span>
            </div>
            <div class="white">
                <h5 class="whiteheading">Tomato soup <p>$2.50</p></h5>
                <h5 class="whiteheading">Chicken salad <p>$3.50</p></h5>
                <h5 class="whiteheading">Bread and Butter <p>$1.00</p></h5>
            </div>
            <div class="black">
                <h1 class="header">Starters</h1>
            </div>
            <div class="white">
                <h5 class="whiteheading">Tomato soup <p>$2.50</p></h5>
                <h5 class="whiteheading">Chicken salad <p>$3.50</p></h5>
                <h5 class="whiteheading">Bread and Butter <p>$1.00</p></h5>
            </div>
            <div class="black">
                <h1 class="header">Starters</h1>
            </div>
            <div class="white">
                <h5 class="whiteheading">Tomato soup <p>$2.50</p></h5>
                <h5 class="whiteheading">Chicken salad <p>$3.50</p></h5>
                <h5 class="whiteheading">Bread and Butter <p>$1.00</p></h5>
            </div>
        </div>
        <div id="aboutdiv">
            <div class="black">
                <h1 class="header" >Starters</h1>
                <span  class="crss"><a href="javascript:void(0)" onclick="hide1()">x</a></span>
            </div>
            <div class="white">
                <h5 class="whiteheading">Tomato soup <p>$2.50</p></h5>
                <h5 class="whiteheading">Chicken salad <p>$3.50</p></h5>
                <h5 class="whiteheading">Bread and Butter <p>$1.00</p></h5>
            </div>
            <div class="black">
                <h1 class="header">Starters</h1>
            </div>
            <div class="white">
                <h5 class="whiteheading">Tomato soup <p>$2.50</p></h5>
                <h5 class="whiteheading">Chicken salad <p>$3.50</p></h5>
                <h5 class="whiteheading">Bread and Butter <p>$1.00</p></h5>
            </div>
            <div class="black">
                <h1 class="header">Starters</h1>
            </div>
            <div class="white">
                <h5 class="whiteheading">Tomato soup <p>$2.50</p></h5>
                <h5 class="whiteheading">Chicken salad <p>$3.50</p></h5>
                <h5 class="whiteheading">Bread and Butter <p>$1.00</p></h5>
            </div>
        </div>
        <div id="time">
            <h1 id="demo6"></h1>
            <h2 id="name"><%=user_name%></h2>
        </div>
    </section>
    <script src="admin-page/js/script.js"></script>
</body>
</html>